{
    "presets": ["es2015",  "react-app"],
    "plugins": [
        [
            "react-intl", {
                "messagesDir": "translations/messages",
                "enforceDescriptions": false
            }
        ]
    ]
}
